.wrapper {
  position: relative;
  background-color: var(--colorGreyLight);
  overflow: hidden;
  height: 12px;
  /*border-radius: 4px;*/
  z-index: 40;
}

.bar {
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--colorPositive);
  height: 12px;
  /*border-radius: 4px;*/
}
