:root {
	--socialWeibo: #fa2f2f;
	--socialWechatDark: #1aad19;
	--socialWecatLight: #1ddd13;
	--socialWechat: #13cc0a;
	--socialTumblr: #35465c;
	--socialLinkedInLight: #0889cf;
	--socialLinkedIn: #0077b5;
	--socialSlack: #4a154b;
	--socialPinterestLight: #d70c24;
	--socialPinterest: #bd081c;
	--socialInstagramAlt: #f00075;
	--socialInstagramLight: #232323;
	--socialInstagram: #000;
	--socialGoogleBlueDark: #3a77db;
	--socialGoogleBlueLight: #5695fd;
	--socialGoogleBlue: #4285f4;
	--socialGoogleLight: #f3543f;
	--socialGoogle: #dd4b39;
	--socialTwitterLight: #28adff;
	--socialTwitter: #1da1f2;
	--socialFacebookPage: #fa9e2a;
	--socialFacebookGroup: #5c8ef7;
	--socialFacebookDark: #126de2;
	--socialFacebookLight: #388fff;
	--socialFacebook: #1877f2;
	--socialAlipayDark: #0e77c3;
	--socialAlipayLight: #009fe8;
	--socialAlipay: #0f82d6;
	--colorRed10: #7f1d1d;
	--colorRed09: #991b1b;
	--colorRed08: #b91c1c;
	--colorRed07: #dc2626;
	--colorRed06: #ef4444;
	--colorRed05: #f87171;
	--colorRed04: #fca5a5;
	--colorRed03: #fecaca;
	--colorRed02: #fee2e2;
	--colorRed01: #fef2f2;
	--colorBlack: #0a0a0a;
	--colorBlackA86: #0a0a0adb;
	--colorBlackA70: #0a0a0ab2;
	--colorBlackA60: #11171d99;
	--colorBlackA50: #1c273080;
	--colorBlackA40: #24313d66;
	--colorBlackA30: #2b3b4a4d;
	--colorBlackA20: #35475a33;
	--colorBlackA15: #394c6026;
	--colorBlackA07: #f0f5fa12;
	--colorBlackA00: rgba(14, 19, 24, 0.05);
	--colorGreyUltraLight: #fafafa;
	--colorGreyLight: #f5f5f5;
	--colorGreyDark: #27272a;
	--colorGreyUltraDark: #171717;
	--colorWhite: #fff;
	--colorWhiteA90: #ffffffe5;
	--colorWhiteA80: #fffc;
	--colorWhiteA70: #ffffffb2;
	--colorWhiteA50: #ffffff80;
	--colorWhiteA40: #fff6;
	--colorWhiteA30: #ffffff4d;
	--colorWhiteA20: #fff3;
	--colorWhiteA15: #ffffff26;
	--colorWhiteA07: #ffffff12;
	--colorWhiteA00: #fff0;
	--colorCanvaBrandDark: #c74636;
	--colorCanvaBrand: #cb291d;
	--colorCanvaBrandLight: #f27161;
	--colorCanvaBrandUltraLight: #f7aaa0;
	--colorPurple10: #271455;
	--colorPurple09: #3a1e7f;
	--colorPurple08: #4d28aa;
	--colorPurple07: #6132d4;
	--colorPurple06: #743cff;
	--colorPurple05: #8b5dff;
	--colorPurple04: #a27dff;
	--colorPurple03: #ba9eff;
	--colorPurple02: #d1beff;
	--colorPurple01: #e8dfff;
	--colorYellow10: #713f12;
	--colorYellow09: #854d0e;
	--colorYellow08: #a16207;
	--colorYellow07: #ca8a04;
	--colorYellow06: #eab308;
	--colorYellow05: #facc15;
	--colorYellow04: #fde047;
	--colorYellow03: #fef08a;
	--colorYellow02: #fef9c3;
	--colorYellow01: #fefce8;
	--colorGreen10: #023017;
	--colorGreen09: #035629;
	--colorGreen08: #057c3b;
	--colorGreen07: #06a24d;
	--colorGreen06: #08c85f;
	--colorGreen05: #37d27d;
	--colorGreen04: #66dd9c;
	--colorGreen03: #95e7ba;
	--colorGreen02: #c4f2d9;
	--colorGreen01: #f3fcf7;
	--colorBlue10: #001d55;
	--colorBlue09: #002b7f;
	--colorBlue08: #003aaa;
	--colorBlue07: #0048d4;
	--colorBlue06: #0057ff;
	--colorBlue05: #2b73ff;
	--colorBlue04: #558fff;
	--colorBlue03: #80abff;
	--colorBlue02: #aac7ff;
	--colorBlue01: #d5e3ff;
	--tealActive: #007575;
	--tealHover: #29a0b1;
	--tealDisabled: #98d7c2;
	--teal: #008080;
}
