:root {
	--space12: 96px;
	--space8: 64px;
	--space6: 48px;
	--space4: 32px;
	--space3: 24px;
	--space2: 16px;
	--space150: 12px;
	--space1: 8px;
	--space050: 4px;
	--space20: 20px;
	--space0: 0px;
	--space999: 99999px;
}
