@import "spacing";
@import "color";

:root {
  --shadowSurfaceHigh: #40576d33;
  --shadowSurface: #40576d33;
  --shadowHandle: #40576d40;
  --shadowBorder: #40576d0a;
  --temporaryRadiusToast: 9999px;
  --radiusTag: 9999px;
  --radiusElementRound: 9999px;
  --colorSecondaryDisabled: #40576d12;
  --temporaryRadiusSwatch: var(--space20);
  --temporaryRadiusPill: var(--space20);
  --radiusContainerLarge: var(--space1);
  --radiusContainer: var(--space20);
  --radiusElement: var(--space20);
  --radiusElementSmall: var(--space20);
  --colorOverlay: var(--colorBlackA40);
  --colorAssistForeLow: var(--colorBlack);
  --colorAssistLow: var(--colorPurple02);
  --colorAssistFore: var(--colorWhite);
  --colorAssist: var(--colorPurple06);
  --colorWarnForeDisabled: var(--colorBlackA40);
  --colorWarnForeLow: var(--colorBlack);
  --colorWarnFore: var(--colorWhite);
  --colorWarnLow: var(--colorYellow02);
  --colorWarnDisabled: var(--colorBlackA07);
  --colorWarnActive: var(--colorYellow07);
  --colorWarnHover: var(--colorYellow05);
  --colorWarn: var(--colorYellow06);
  --colorCriticalForeDisabled: var(--colorBlackA40);
  --colorCriticalForeLow: var(--colorBlack);
  --colorCriticalFore: var(--colorWhite);
  --colorCriticalLow: var(--colorRed02);
  --colorCriticalDisabled: var(--colorBlackA07);
  --colorCriticalActive: var(--colorRed07);
  --colorCriticalHover: var(--colorRed05);
  --colorCritical: var(--colorRed06);
  --colorInfoForeDisabled: var(--colorBlackA40);
  --colorInfoForeLow: var(--colorBlack);
  --colorInfoFore: var(--colorWhite);
  --colorInfoLow: var(--colorBlue02);
  --colorInfoDisabled: var(--colorBlackA07);
  --colorInfoActive: var(--colorBlue07);
  --colorInfoHover: var(--colorBlue05);
  --colorInfo: var(--colorBlue06);
  --colorPositiveForeDisabled: var(--colorBlackA40);
  --colorPositiveForeLow: var(--colorBlack);
  --colorPositiveFore: var(--colorWhite);
  --colorPositiveLow: var(--colorGreen02);
  --colorPositiveDisabled: var(--colorBlackA07);
  --colorPositiveActive: var(--colorGreen07);
  --colorPositiveHover: var(--colorGreen05);
  --colorPositive: var(--colorGreen06);
  --colorBrand: var(--Brand\/colorCanvaBrand);
  --colorSurface: var(--colorWhite);
  --colorPage: var(--colorWhite);
  --colorTabdock: var(--colorGreyUltraLight);
  --colorCanvas: var(--colorGreyLight);
  --colorContrastForeDisabled: var(--colorWhiteA70);
  --colorContrastFore: var(--colorWhite);
  --colorContrastDisabled: var(--colorBlackA60);
  --colorContrastActive: var(--colorBlackA86);
  --colorContrastHover: var(--colorBlackA70);
  --colorContrast: var(--colorBlackA60);
  --colorTypographyPositive: var(--colorGreen06);
  --colorTypographyWarn: var(--colorYellow06);
  --colorTypographyInfo: var(--colorBlue06);
  --colorTypographyCriticalActive: var(--colorRed06);
  --colorTypographyCriticalHover: var(--colorRed07);
  --colorTypographyCritical: var(--colorRed06);
  --colorTypographyLinkActive: var(--colorPurple06);
  --colorTypographyLinkHover: var(--colorPurple07);
  --colorTypographyLink: var(--colorPurple06);
  --colorTypographyPlaceholder: var(--colorBlackA60);
  --colorTypographyTertiary: var(--colorBlackA70);
  --colorTypographySecondary: var(--colorBlackA86);
  --colorTypographyPrimary: var(--colorBlack);
  --colorBorderCritical: var(--colorRed06);
  --colorBorderDisabled: var(--colorBlackA15);
  --colorBorderSelected: var(--colorPurple06);
  --colorBorderFocus: var(--colorPurple06);
  --colorBorderHover: var(--colorBlackA50);
  --colorBorderButtonTemporary: var(--colorBlackA00);
  --colorBorderButton: var(--colorBlackA20);
  --colorBorderStrong: var(--colorBlackA50);
  --colorBorderLow: var(--colorBlackA15);
  --colorBorder: var(--colorBlackA30);
  --colorNeutralForeLowDisabled: var(--colorBlackA40);
  --colorNeutralForeLow: var(--colorBlack);
  --colorNeutralLowDisabled: var(--colorBlackA07);
  --colorNeutralLowActive: var(--colorBlackA20);
  --colorNeutralLowHover: var(--colorBlackA15);
  --colorNeutralLow: var(--colorBlackA07);
  --colorNeutralForeDisabled: var(--colorWhiteA50);
  --colorNeutralFore: var(--colorWhite);
  --colorNeutralDisabled: var(--colorBlackA15);
  --colorNeutralActive: var(--colorBlackA15);
  --colorNeutralHover: var(--colorBlackA30);
  --colorNeutral: var(--colorBlackA15);
  --colorTertiaryForeSelected: var(--colorPurple09);
  --colorTertiarySelectedActive: var(--colorPurple03);
  --colorTertiarySelectedHover: var(--colorPurple01);
  --colorTertiarySelected: var(--colorPurple02);
  --colorTertiaryForeDisabled: var(--colorBlackA40);
  --colorTertiaryFore: var(--colorBlack);
  --colorTertiaryDisabled: var(--colorBlackA00);
  --colorTertiaryActive: var(--colorBlackA15);
  --colorTertiaryHover: var(--colorBlackA07);
  --colorTertiary: var(--colorBlackA00);
  --colorSecondaryForeSelected: var(--colorPurple09);
  --colorSecondarySelectedActive: var(--colorPurple03);
  --colorSecondarySelectedHover: var(--colorPurple01);
  --colorSecondarySelected: var(--colorPurple02);
  --colorSecondaryForeDisabled: var(--colorBlackA40);
  --colorSecondaryFore: var(--colorBlack);
  --colorSecondaryActive: var(--colorBlackA20);
  --colorSecondaryHover: var(--colorBlackA15);
  --colorSecondary: var(--colorBlackA07);
  --colorPrimaryForeDisabled: var(--colorBlackA40);
  --colorPrimaryFore: var(--colorWhite);
  --colorPrimaryDisabled: var(--colorBlackA07);
  --colorPrimaryActive: var(--colorPurple08);
  --colorPrimaryHover: var(--colorPurple07);
  --colorPrimary: var(--colorPurple06);
}

body[client_theme="vtcizi"] {
  --colorPrimaryForeDisabled: #24313d66;
  --colorPrimaryFore: #fff;
  --colorPrimaryDisabled: #f0f5fa12;
  --colorPrimaryActive: #0085d6;
  --colorPrimaryHover: #7dccff;
  --colorPrimary: #0ea0ff;

  --colorPurple10: #001d55;
  --colorPurple09: #002b7f;
  --colorPurple08: #003aaa;
  --colorPurple07: #0048d4;
  --colorPurple06: #0057ff;
  --colorPurple05: #2b73ff;
  --colorPurple04: #558fff;
  --colorPurple03: #80abff;
  --colorPurple02: #aac7ff;
  --colorPurple01: #d5e3ff;
}


body[client_theme="aueu"] {
  --colorPrimaryForeDisabled: #24313d66;
  --colorPrimaryFore: #fff;
  --colorPrimaryDisabled: #3e1200;
  --colorPrimaryActive: #972d07;
  --colorPrimaryHover: #972d07;
  --colorPrimary: #c13219;

  --colorPurple01: #ffeee9;
  --colorPurple02: #ffcfc1;
  --colorPurple03: #ffb099;
  --colorPurple04: #ff8f70;
  --colorPurple05: #c13219;
  --colorPurple06: #a22815;
  --colorPurple07: #821f11;
  --colorPurple08: #63150d;
  --colorPurple09: #440c09;
  --colorPurple10: #250405;

  --colorGreen10: #276431;
  --colorGreen09: #2d6e38;
  --colorGreen08: #33783f;
  --colorGreen07: #389046;
  --colorGreen06: #389063;
  --colorGreen05: #5baa7d;
  --colorGreen04: #7ec497;
  --colorGreen03: #a1deb1;
  --colorGreen02: #97ffc9;
  --colorGreen01: #e6fff0;

  --colorInfoForeDisabled: var(--colorBlackA40);
  --colorInfoForeLow: var(--colorBlack);
  --colorInfoFore: var(--colorWhite);
  --colorInfoLow: var(--colorGreen02);
  --colorInfoDisabled: var(--colorBlackA07);
  --colorInfoActive: var(--colorGreen07);
  --colorInfoHover: var(--colorGreen05);
  --colorInfo: var(--colorGreen06);

  --colorPositive: var(--colorGreen06);
}

